<ion-view style="" title="Dashboard">
    <ion-content class="has-header" padding="'true'">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <form style="" class="list"></form>
        <a style="" class="button button-stable button-block" ng-click="showSessionPopup()">Start New Session</a>

        <div class = "row">
            <div class = "col text-center">
                <h4> My Active Sessions </h4>
            </div>
        </div>


        <ion-list>
            <div class="list card">
                <ion-item ng-repeat="session in sessions" ng-click="GotoSessiondetails(session.objectId)" class="item-remove-animate">
                    {{ session.name }}
                    <ion-option-button class="button-assertive"
                                       ng-click="delete(item)">
                        Delete
                    </ion-option-button>

                </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>