<ion-view style="" >
    <ion-content>
        <form style="" class="list">
            <ion-list style="">
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>

            <div class = "row">
                <div class = "col text-center">
                <img src="img/logo.png" height = "250" width = "250"> <br>       
                <button class="button button-small button-border icon-left ion-social-facebook button-positive-900 button button-positive" ng-click="login()">Facebook</button>
                </div>
            </div>
            
        </form>
    </ion-content>
</ion-view>