<ion-view style="" title="New Session">
    

    <ion-content class="has-header" padding="'true'">

        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Item search" type="search" ng-model="itemName">
            </label>
            <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" class="button button-stable button-block " ng-click="searchQueryString(itemName)">Search</button>
        </form>
        


        <div>
            <button style="border-radius: 7px; width:100%; margin-left:auto; margin-right: auto;" class="button button-balanced" ng-click="click()">
                Click to Scan
            </button>
        </div>

        <div  style="margin-top: 5px;" ng-bind-html="barCodeNumber"></div>

        <div style="margin-top: 5px;" ng-show="barCodeNumber.length!=0">

            <div class = "row">
                <div class = "col text-left">
                    <label class="item item-input">
                        <span class="input-label" ng-model = "quantity">Quantity</span>
                        <input type="number">
                    </label>
                </div>
                <div class = "col text-right">
                    <button style="border-radius: 7px; width:100%; margin-left:auto; margin-right: auto;" class="button button-positive" ng-click="addToCart(quantity)">
                        Add to Cart
                    </button>
                </div>
            </div>

            <button style="border-radius: 7px; width:100%; margin-left:auto; margin-right: auto;" class="button button-assertive" ng-click="clear()">
                Cancel Item
            </button>

        </div>


        
        <ion-list>
            <ion-item ng-repeat="product in product_results track by product.sem3_id" href="#/tabs/itemdetail/{{ product.sem3_id }}">
                {{ product.name }}
            <span class="item-note">
              {{ product.price }}{{ product.price_currency }}
            </span>

            </ion-item>
        </ion-list>
        <a style="" class="button button-stable button-block " href="#/tabs/cart">Go to Cart</a>
        
        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="App people" type="search">
            </label>
        </form>
        {{ sessionId }}

    </ion-content>
</ion-view>