<ion-view style="" title="Shopping">
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Item search " type="search">
            </label>
        </form>
        <button style="" class="button button-stable button-block ">Search</button>
        <ion-list style="">
            <ion-item style="" href="#/itemdetail" menu-close="">Item 1</ion-item>
            <ion-item style="" href="#/itemdetail" menu-close="">Item 2</ion-item>
            <ion-item style="" href="#/itemdetail" menu-close="">Item 3</ion-item>
        </ion-list>
        <a style="" class="button button-stable button-block " href="#/cart">Go to Cart</a>
    </ion-content>
</ion-view>